{% load extras %}
<div class="card-body pb-1">
    {{ comment.text }}
    <br>
    <span class="text-muted float-right" style="font-size: 10px">{{ comment.date }}</span>
</div>
<div class="card-footer">
    Like: {{ comment.liked.all.count }}
    <span class="float-right">
        {% if comment.pk|is_liked_comment:user %}
            <a class="btn btn-sm btn-danger"
               href="{% url 'recom:unlike_comment' pk=comment.pk %}?from={{ from }}"
               type="button">
                <i class="fas fa-heart-broken"></i>
            </a>
        {% else %}
            <a class="btn btn-sm btn-success"
               href="{% url 'recom:like_comment' pk=comment.pk %}?from={{ from }}"
               type="button">
                <i class="fas fa-heart"></i>
            </a>
        {% endif %}
    </span>
</div>