{% extends 'base.html' %}
{% block title %}{{ page_title }} | RecoMapp{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h4>{{ page_title }}</h4>
        </div>
        <div class="card-body">
            <div class="row row-cols-5">
                {% for book in books %}
                    <a href="{% url 'recom:book_detail' pk=book.pk %}">
                        <div class="card mb-2 mx-2">
                            <img src="{{ book.photo.url }}" class="card-img-top">
                            <div class="card-body">
                                <h6 class="card-title">{{ book }}</h6>
                                <p class="text-muted">{{ book.genre.name }} {{ book.avg_point|default:0 }}</p>
                                <p class="card-text">{{ book.publish_date }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}