{% extends 'base.html' %}
{% block title %}Books | RecoMapp{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h4>Best 10 Books</h4>
        </div>
        <div class="card-body">
            <div class="row row-cols-5">
                {% for book in bests %}
                    {% url 'recom:book_detail' pk=book.pk as url %}
                    {% include 'recom/partial/piece_card.html' with piece=book url=url genre=book.genre.name %}
                {% endfor %}
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url "recom:book_best" %}">See all best books.</a>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h4>Trend 10 Books</h4>
        </div>
        <div class="card-body">
            <div class="row row-cols-5">
                {% for book in trends %}
                    {% url 'recom:book_detail' pk=book.pk as url %}
                    {% include 'recom/partial/piece_card.html' with piece=book url=url genre=book.genre.name trend=True %}
                {% endfor %}
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url "recom:book_trend" %}">See all trend books.</a>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h4>Books</h4>
        </div>
        <div class="card-body">
            <div class="row row-cols-5">
                {% for book in books %}
                    {% url 'recom:book_detail' pk=book.pk as url %}
                    {% include 'recom/partial/piece_card.html' with piece=book url=url genre=book.genre.name %}
                {% endfor %}
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url "recom:book_list" %}">See all books.</a>
        </div>
    </div>


    {% include 'recom/partial/active_user_main_card.html' with active_users=active_users %}
{% endblock %}