{% extends 'base.html' %} {% load extras %}
{% block title %}RecoMapp{% endblock %}
{% block content %}


    <div class="card">
        <div class="card-header">
            <h4>Best 10 Pieces</h4>
        </div>
        <div class="card-body">
            <div class="row row-cols-5">
                {% for piece in bests %}
                    {% get_url pk=piece.pk as url %}
                    {% get_genre pk=piece.pk as genre %}
                    {% include 'recom/partial/piece_card.html' with piece=piece url=url genre=genre %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h4>Trend 10 Pieces</h4>
        </div>
        <div class="card-body">
            <div class="row row-cols-5">
                {% for piece in trends %}
                    {% get_url pk=piece.pk as url %}
                    {% get_genre pk=piece.pk as genre %}
                    {% include 'recom/partial/piece_card.html' with piece=piece url=url genre=genre trend=True %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'recom/partial/active_user_main_card.html' with active_users=active_users %}
{% endblock %}