{% extends 'base.html' %} {% load static extras %}
{% block title %}Movies | RecoMapp{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h4>Best 10 Movies</h4>
        </div>
        <div class="card-body">
            <div class="row row-cols-5">
                {% for movie in bests %}
                    {% url 'recom:movie_detail' pk=movie.pk as url %}
                    {% include 'recom/partial/piece_card.html' with piece=movie url=url genre=movie.genre.name %}
                {% endfor %}
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url "recom:movie_best" %}">See all best movies.</a>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h4>Trend 10 Movies</h4>
        </div>
        <div class="card-body">
            <div class="row row-cols-5">
                {% for movie in trends %}
                    {% url 'recom:movie_detail' pk=movie.pk as url %}
                    {% include 'recom/partial/piece_card.html' with piece=movie url=url genre=movie.genre.name trend=True %}
                {% endfor %}
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url "recom:movie_trend" %}">See all trend movies.</a>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h4>Movies</h4>
        </div>
        <div class="card-body">
            <div class="row row-cols-5">
                {% for movie in movies %}
                    {% url 'recom:movie_detail' pk=movie.pk as url %}
                    {% include 'recom/partial/piece_card.html' with piece=movie url=url genre=movie.genre.name %}
                {% endfor %}
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url "recom:movie_list" %}">See all movies.</a>
        </div>
    </div>


    {% include 'recom/partial/active_user_main_card.html' with active_users=active_users %}

{% endblock %}