{% extends 'recom/piece_detail.html' %}
{% load static %}
{% block info1 %}
    <p class="card-text text-muted">by {{ object.director }}</p>
{% endblock %}
{% block info2 %}
    {% if object.acted_by.exists %}
        <h6>Performers</h6>
        <ul style="list-style-type:none; margin-left: 30%">
            {% for act in object.acted_by.all %}
                <li class="pt-1" style="text-align: left">
                    <img class="rounded-circle mr-1"
                         style="width: 2.5rem; height: 2.5rem"
                         src="{{ act.photo.url }}"/>
                    <small>{{ act.get_full_name }}</small>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}