{% extends 'base.html' %}
{% load static extras crispy_forms_filters %}
{% block title %}{{ object.name }} | RecoMapp{% endblock %}
{% block style %}
    <style>
        .rating {
            float: left;
        }

        .rating span {
            float: right;
            position: relative;
        }

        .rating span input {
            position: absolute;
            top: 0px;
            left: 0px;
            opacity: 0;
        }

        .rating span:hover ~ span label,
        .rating span:hover label,
        .rating span.checked label,
        .rating span.checked ~ span label {
            color: #F90;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="row h-100">
        <div class="col-5">
            <div id="left-container" class="col-12 w-100">
                <div class="col-12">
                    <div id="piece-info" class="card">
                        <div class="card-body">
                            {% if object.photo %}
                                <img src="{{ object.photo.url }}" class="card-image-top" height="200px" width="200px">
                            {% endif %}

                            <h4 class="card-title">{{ object.name }}<br> <span id="avg_point">{{ object.avg_point|default:0 }}</span></h4>
                            <p class="card-text text-muted">{% get_genre pk=object.pk %}, {{ object.publish_date }}</p>

                            {% block info1 %}{% endblock %}

                            {% if user.is_authenticated %}
                                {% if object.pk|is_wished:user %}
                                    <a class="btn btn-sm btn-danger" type="button"
                                       href="{% url 'recom:del_wish' pk=object.pk %}"><i class="fas fa-minus"></i>
                                        Unwish: {{ object.wished_by.all.count }}</a>
                                {% else %}
                                    <a class="btn btn-sm btn-success" type="button"
                                       href="{% url 'recom:wish' pk=object.pk %}"><i class="fas fa-plus"></i>
                                        Wish: {{ object.wished_by.all.count }}</a>
                                {% endif %}
                            {% endif %}

                            <p class="card-text">{{ object.text }}</p>

                            {% block info2 %}{% endblock %}


                            <h6>Full Support</h6>
                            <ul>
                                {% for user in full_pointers %}
                                    <li>{{ user.get_full_name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="col-12 mt-3">
                        <div id="comment-card" class="card">
                            <div class="card-body">
                                {% csrf_token %}
                                <div class="rating">
                                    <span><input type="radio" name="rating" id="str5" value="5"><label
                                            for="str5"><i class="far fa-star"></i></label></span>
                                    <span><input type="radio" name="rating" id="str4" value="4"><label
                                            for="str4"><i class="far fa-star"></i></label></span>
                                    <span><input type="radio" name="rating" id="str3" value="3"><label
                                            for="str3"><i class="far fa-star"></i></label></span>
                                    <span><input type="radio" name="rating" id="str2" value="2"><label
                                            for="str2"><i class="far fa-star"></i></label></span>
                                    <span><input type="radio" name="rating" id="str1" value="1"><label
                                            for="str1"><i class="far fa-star"></i></label></span>

                                    <span class="mr-3">Points:</span>
                                </div>
                            </div>
                            <div id="comment-form-container" class="card-body">
                                <label for="comment-text">Comment:</label>
                                <textarea class="w-100 form-control" id="comment-text" maxlength="500"></textarea>
                                <button id="send-comment-btn" class="btn btn-success float-right mt-1" type="button">Send</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-7">
            {% for comment in object.get_ordered_comments %}
                <div class="card mb-3">
                    <div class="card-header">{{ comment.user.get_full_name }}
                        - {% get_point object=object user=comment.user %}</div>
                    <div class="card-body">{{ comment.text }}</div>
                    <div class="card-footer">
                        {# FIXME like ve unline için filter tag yaz ve kullanıcın yetkili olduğunu kontrol et #}
                        <a class="btn btn-sm btn-success" href="" type="button"><i class="fas fa-heart"></i>
                            Like: {{ comment.liked.all.count }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        const user = {{ user.pk }};
        const piece = {{ object.pk }};
        const point = {% get_point object=object user=user %};
        let check = false;

        $(window).scroll(function () {
            $("#left-container").css({
                "top": ($(window).scrollTop()) + "px",
                "left": ($(window).scrollLeft()) + "px"
            });
        });

        $(document).ready(function () {

            $('#send-comment-btn').attr('disabled', true);

            $('.rating input').click(function () {
                $(".rating span").removeClass('checked');
                $(this).parent().addClass('checked');

                const checked_stars_query = $(".rating span.checked ~ span label, .rating span.checked label")
                checked_stars_query.find('svg').attr('data-prefix', 'fas')
                $('label svg').not(checked_stars_query.find('svg')).attr('data-prefix', 'far')
            });

            $('input:radio').change(
                function () {
                    let userRating = this.value;
                    if (check) {
                        $.post('{% url 'recom:give_point' %}',{"csrfmiddlewaretoken":$('input[name=csrfmiddlewaretoken]').val(),"user": user, "piece":piece, "point": userRating}, function (data, status) {
                            if (data.success){
                                $.get('{% url 'recom:get_avg' pk=object.pk %}', function (avg_data, avg_status) {
                                    if(avg_data.success){
                                        $('#avg_point').text(avg_data.avg_point.toFixed(1));
                                        $('#comment-form-container').show();
                                    }else{
                                        console.error(avg_status)
                                    }
                                });
                            }else{
                                console.error(status, data.msg)
                            }
                        });
                    }
                    check = true;
                });

            $('#send-comment-btn').click(function () {
                let comment = $('#comment-text').val();
                    $.post('{% url 'recom:make_comment' %}',{"csrfmiddlewaretoken":$('input[name=csrfmiddlewaretoken]').val(),"user": user, "piece":piece, "comment": comment}, function (data, status) {
                            if (data.success){
                                location.reload()
                            }else{
                                console.error(status, data.msg)
                            }
                        });
            });

            $('#comment-text').keyup(function () {
                if($(this).val().length > 0){
                    $('#send-comment-btn').attr('disabled', false);
                }else{
                    $('#send-comment-btn').attr('disabled', true);
                }
            })

            if (point > 0) {
                $('.rating span:nth-child(' + (6 - point) + ') input').click();
                $('#comment-form-container').show();
            }else{
                check = true
                $('#comment-form-container').hide();
            }
        });
    </script>
{% endblock %}