{% extends 'base.html' %}
{% load static extras %}
{% block title %}{{ object.name }}|RecoMapp{% endblock %}
{% block content %}
    <img src="{{ object.photo.url }}" alt="" height="200px" width="200px">
    <h1>{{ object.name }}</h1>
    {% if user.is_authenticated %}
        {% if object.pk|is_wished:user %}
            <a type="button" href="{% url 'recom:del_wish' pk=object.pk %}">Unwish</a>
            {% else %}
            <a type="button" href="{% url 'recom:wish' pk=object.pk %}">Wish</a>
            {% endif %}
    {% endif %}
    <h3>{{ object.publish_date }}</h3>
    <h3>{{ object.text }}</h3>
    {% block extra_info %}{% endblock %}
    <h1>Full Support</h1>
    <ul>
    {% for user in full_pointers %}
        <li>{{ user.get_full_name }}</li>
    {% endfor %}
    </ul>
{% endblock %}