{% extends 'base.html' %}
{% load static extras%}
{% block title %}{{ user_profile.get_full_name }} | RecoMapp{% endblock %}
{% block content %}
    <img src="{{ user_profile.profile_photo.url }}" alt="" height="200px" width="200px">
    <h1>Name: {{ user_profile.get_full_name }}</h1>
    {% if user.is_authenticated %}
        {% if user_profile != user %}
            {% if user_profile.pk|is_followed:user %}
                <a type="button" href="{% url 'recom:unfollow' pk=user_profile.pk %}">Unfollow</a>
                {% else %}
                <a type="button" href="{% url 'recom:follow' pk=user_profile.pk %}">Follow</a>
                {% endif %}
            {% endif %}
    {% endif %}
    <h2>Birthday: {{ user_profile.birthday }}</h2>


    <h1>Wishes</h1>
    <ul>
    {% for p in user_profile.wishes.all %}
        <li>{{ p }}</li>
    {% empty %}
        <li>There is no wished piece.</li>
    {% endfor %}
    </ul>
{% endblock %}