{% extends 'base.html' %}
{% load static extras %}
{% block title %}
    Report
{% endblock %}

{% block style %}
    <style>
        @media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }

        [id^=report], #print {
            background-color: white;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container" id="print">
        <div class="py-3" id="report1">
            <h3>Most Followed Users</h3>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Follower Count</th>
                </tr>
                </thead>
                <tbody>
                {% for test in encoktakipedilenler %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ test.username }}</td>
                        <td>{{ test.follower_count }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="py-3" id="report2">
            <h3>Most Popular Users</h3>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Follower Count</th>
                    <th scope="col">Total Comment Likes</th>
                    <th scope="col">Total Interactions</th>
                </tr>
                </thead>
                <tbody>
                {% for test in encoketkilesimalankullanicilar %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ test.username }}</td>
                        <td>{{ test.follower_count }}</td>
                        <td>{{ test.comment_like_count }}</td>
                        <td>{{ test.total }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="py-3" id="report3">
            <h3>Most Active Users</h3>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Follow Count</th>
                    <th scope="col">Comment Likes Count</th>
                    <th scope="col">Wish Count</th>
                    <th scope="col">Comment Count</th>
                    <th scope="col">Point Count</th>
                    <th scope="col">Total Interactions</th>
                </tr>
                </thead>
                <tbody>
                {% for test in encoketkilesimverenkullanicilar %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ test.username }}</td>
                        <td>{{ test.follow_count }}</td>
                        <td>{{ test.comment_like_count }}</td>
                        <td>{{ test.wish_count }}</td>
                        <td>{{ test.comment_count }}</td>
                        <td>{{ test.point_count }}</td>
                        <td>{{ test.total }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="py-3" id="report4">
            <h3>Most Popular Pieces</h3>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Piece Name</th>
                    <th scope="col">Piece Type</th>
                    <th scope="col">Wish Count</th>
                    <th scope="col">Comment Count</th>
                    <th scope="col">Point Count</th>
                    <th scope="col">Total Interactions</th>
                </tr>
                </thead>
                <tbody>
                {% for test in encoketkilesimalanparcalar %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ test.name }}</td>
                        <td>{% get_type pk=test.pk %}</td>
                        <td>{{ test.wish_count }}</td>
                        <td>{{ test.comment_count }}</td>
                        <td>{{ test.point_count }}</td>
                        <td>{{ test.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div id="print2">
        <div class="py-3" id="report5">

            <h3>Best Pieces by Average Point</h3>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Piece Name</th>
                    <th scope="col">Piece Type</th>
                    <th scope="col">Avg. Point</th>
                </tr>
                </thead>
                <tbody>
                {% for test in bestpieces %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ test.name }}</td>
                        <td>{% get_type pk=test.pk %}</td>
                        <td>{{ test.avg_point }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="py-3" id="report6">
            <h3>Trend Pieces by Point Count</h3>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Piece Name</th>
                    <th scope="col">Piece Type</th>
                    <th scope="col">Avg. Point</th>
                    <th scope="col">Point Count in Last Week</th>
                </tr>
                </thead>
                <tbody>
                {% for test in trendpieces %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ test.name }}</td>
                        <td>{% get_type pk=test.pk %}</td>
                        <td>{{ test.avg_point }}</td>
                        <td>{{ test.counts }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="py-3" id="report7">
            <h3>Recorded Piece Counts</h3>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Piece Type</th>
                    <th scope="col">Count</th>
                </tr>
                </thead>
                <tbody>
                {% for type, value in piece_counts.items %}
                    <tr>
                        <td>{{ type }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="py-3" id="report7">
            <h3>Point Counts by Types</h3>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Piece Type</th>
                    <th scope="col">Count</th>
                </tr>
                </thead>
                <tbody>
                {% for type, value in point_counts_by_type.items %}
                    <tr>
                        <td>{{ type }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="py-3" id="report8">
            <h3>Comment Counts by Types</h3>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Piece Type</th>
                    <th scope="col">Count</th>
                </tr>
                </thead>
                <tbody>
                {% for type, value in comment_counts_by_type.items %}
                    <tr>
                        <td>{{ type }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="py-3" id="report9">
            <h3>An Extra...</h3>
            <hr/>
            <p>{{ username_bahar }} of users have "bahar" in their usernames.</p>
            <p>{{ user_bahar }} of users have "bahar" in their names.</p>
            {% for type, value in type_bahar.items %}
                <p>{{ value }} of {{ type }}s contains "bahar" in title or description.</p>
            {% endfor %}
            <p>{{ comment_bahar }} of comments contains "bahar".</p>
            <p>In total {{ total_bahar }} records contains "bahar".</p>
        </div>


    </div>

    <div class="btn-group float-right no-print" role="group">
        <button id="jsPDFdbtn" class="btn btn-warning">Export as PDF</button>
        <button class="btn btn-info" onclick="print();">Print</button>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"
            integrity="sha256-c3RzsUWg+y2XljunEQS0LqWdQ04X1D3j22fd/8JCAKw=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"
            integrity="sha256-gJWdmuCRBovJMD9D/TVdo4TIK8u5Sti11764sZT1DhI=" crossorigin="anonymous"></script>
    <script>
        $('#jsPDFdbtn').click(function () {
            var doc = new jsPDF("p", "pt", "a4");
            doc.addHTML($("#print"), function () {
                doc.addPage();
                doc.addHTML($("#print2"), function () {
                    doc.save("report.pdf");
                })
            });
        });
    </script>
{% endblock %}