{% extends 'base.html' %} {% load static %}
{% block title %}Login{% endblock %}

{% block content %}
    {% if not registered and not user.is_authenticated %}
        <form action="{% url 'recom:login' %}" method="post">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="username">
            {% for error in form.username.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            <input type="password" id="password" name="password"
                   placeholder="password">
            {% for error in form.password.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            <input type="submit" value="login">
        </form>

        {% if error %}
            Username or password is not correct!
        {% endif %}
    {% else %}
        <h1>You are already logged in, {{ user.username }}</h1>
    {% endif %}
{% endblock %}